PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0000_07_01_062142_create_academic_years_table',1);
INSERT INTO migrations VALUES(2,'0000_08_29_052637_create_campuses_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000000_create_users_table',1);
CREATE TABLE IF NOT EXISTS "academic_years" ("id" integer primary key autoincrement not null, "label" varchar not null, "start_date" date not null, "end_date" date not null, "is_current" tinyint(1) not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO academic_years VALUES(1,'2026-2027','2026-09-24 00:00:00','2027-09-03 00:00:00',1,1,'2026-09-03 16:31:14','2026-09-12 18:31:16');
CREATE TABLE IF NOT EXISTS "campuses" ("id" integer primary key autoincrement not null, "name" varchar not null, "city" varchar not null, "address" text, "phone" varchar, "email" varchar, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO campuses VALUES(1,'Campus de Yassa','Douala',NULL,NULL,NULL,1,'2026-09-03 16:30:18','2026-09-03 16:30:18');
INSERT INTO campuses VALUES(5,'CAMPUS ELF','DOUALA','FACE MADISON','690666245','cabinfo2@gmail.com',1,'2026-09-08 13:52:53','2026-09-08 13:52:53');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('QuleoJTHwq0nlD42qYMhS94rqeeYhb2ATudnn1vy',NULL,'42.193.175.107','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36','eyJfdG9rZW4iOiJrWXVqbFRvQ3hWVkxBSkNRRzdYY0RwMjJFV3VUcUk5QU03UmdJOEZEIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cL2dlc3Rpb24uY2FiaW5mb3JtYXRpcXVlLmNvbSIsInJvdXRlIjpudWxsfSwiX2ZsYXNoIjp7Im9sZCI6W10sIm5ldyI6W119fQ==',1789230240);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
INSERT INTO cache VALUES('gestion-cab-informatique-cache-login_locked_ip_127.0.0.1','i:1789243847;',1789243847);
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" varchar not null, "queue" varchar not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" text not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "first_name" varchar, "last_name" varchar, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "phone" varchar, "role" varchar not null default ('secretary'), "campus_id" integer, "is_active" tinyint(1) not null default ('1'), "last_login_at" datetime, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "academic_year_id" integer, "username" varchar, foreign key("campus_id") references campuses("id") on delete set null on update no action, foreign key("academic_year_id") references "academic_years"("id") on delete set null);
INSERT INTO users VALUES(1,'Mr_Shelby','Shelby','lioneltala93230@gmail.com',NULL,'$2y$12$lNSpWksrJlawfpbypxHyIO/oTdZoJEP8RhxcLegcVnSo0HirF10PK',NULL,'super_admin',NULL,1,NULL,NULL,'2026-09-03 15:53:09','2026-09-03 15:53:09',NULL,NULL);
INSERT INTO users VALUES(2,'Admin','Cab','cabinfo2@gmail.com',NULL,'$2y$12$BLX82bRzvrtT1i.uePGYaevX7znb7dEsoFDMzWpEGCibtEWn514lq',NULL,'admin_global',NULL,1,NULL,NULL,'2026-09-03 17:26:54','2026-09-03 17:26:54',NULL,NULL);
INSERT INTO users VALUES(3,'Viviane','Madiesse','cabinf2@gmail.com',NULL,'$2y$12$m9NOGWwATzhSrwEGleOtduzoo1WvbA0PTeOWybmfqw0b0iNQ67s1S',NULL,'secretary',1,1,NULL,NULL,'2026-09-06 09:02:26','2026-09-06 09:03:47',NULL,NULL);
CREATE TABLE IF NOT EXISTS "formations" ("id" integer primary key autoincrement not null, "name" varchar not null, "abbreviation" varchar not null, "tuition_fees" numeric not null, "duration_months" integer not null, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO formations VALUES(1,'Infographie','INF',320000,10,1,'2026-09-03 16:33:33','2026-09-06 09:07:04');
INSERT INTO formations VALUES(2,'D├®veloppement D''applications','DEV',320000,10,1,'2026-09-06 09:05:57','2026-09-06 09:07:18');
INSERT INTO formations VALUES(3,'Secr├®tariat Bureautique','SB',170000,9,1,'2026-09-06 09:06:44','2026-09-06 09:06:44');
CREATE TABLE IF NOT EXISTS "students" ("id" integer primary key autoincrement not null, "campus_id" integer not null, "formation_id" integer not null, "academic_year_id" integer not null, "registration_number" varchar not null, "first_name" varchar not null, "last_name" varchar not null, "date_of_birth" date, "email" varchar, "phone" varchar, "address" text, "parent_name" varchar, "parent_phone" varchar, "photo" varchar, "is_active" tinyint(1) not null default '1', "created_by" integer not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, "residence" varchar, "highest_diploma" varchar, "diploma_year" integer, "languages" text, foreign key("campus_id") references "campuses"("id"), foreign key("formation_id") references "formations"("id"), foreign key("academic_year_id") references "academic_years"("id"), foreign key("created_by") references "users"("id"));
INSERT INTO students VALUES(1,1,2,1,'26DEV8483','Alain','CHIMI','2026-09-06 00:00:00','cabinfo2@gmail.com','690666245','17420',NULL,NULL,NULL,1,3,'2026-09-06 09:13:28','2026-09-09 16:27:39','2026-09-09 16:27:39',NULL,NULL,NULL,NULL);
INSERT INTO students VALUES(2,1,5,1,'26DT9540','GERARLD','KANA',NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,4,'2026-09-08 11:00:19','2026-09-09 16:27:34','2026-09-09 16:27:34',NULL,NULL,NULL,NULL);
INSERT INTO students VALUES(3,5,2,1,'26DEV2254','ORI','SALMANE','2011-03-05 00:00:00',NULL,'696454586',NULL,NULL,NULL,NULL,1,5,'2026-09-08 14:04:36','2026-09-10 12:40:44','2026-09-10 12:40:44',NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "registrations" ("id" integer primary key autoincrement not null, "student_id" integer not null, "campus_id" integer not null, "formation_id" integer not null, "academic_year_id" integer not null, "registration_date" date not null default '2026-09-03 15:53:08', "initial_payment" numeric not null, "status" varchar check ("status" in ('pending', 'confirmed', 'cancelled')) not null default 'confirmed', "qr_code_hash" varchar, "qr_signature" text, "created_by" integer not null, "validated_by" integer, "validated_at" datetime, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, "custom_tuition" numeric, foreign key("student_id") references "students"("id") on delete cascade, foreign key("campus_id") references "campuses"("id"), foreign key("formation_id") references "formations"("id"), foreign key("academic_year_id") references "academic_years"("id"), foreign key("created_by") references "users"("id"), foreign key("validated_by") references "users"("id"));
INSERT INTO registrations VALUES(1,1,1,2,1,'2026-09-03 15:53:08',20000,'confirmed','a103ec9ca82ef37fcda62fabf0f0f012cf7e8e50c4cfd4e0b0fdd6d32e053418',NULL,3,NULL,NULL,'2026-09-06 09:13:28','2026-09-09 16:27:39','2026-09-09 16:27:39',NULL);
INSERT INTO registrations VALUES(2,2,1,5,1,'2026-09-03 15:53:08',0,'confirmed','44f0bef7b7d620a70e3e84c458d9f1e5effa2fc6089956f66c00c96d9afd79ec',NULL,4,NULL,NULL,'2026-09-08 11:00:19','2026-09-09 16:27:34','2026-09-09 16:27:34',NULL);
INSERT INTO registrations VALUES(3,3,5,2,1,'2026-09-03 15:53:08',0,'confirmed','c603d79e653aff9899c35dee44cf5e710a7e76be77af7b55c517fd1277865954',NULL,5,NULL,NULL,'2026-09-08 14:04:36','2026-09-10 12:40:44','2026-09-10 12:40:44',NULL);
CREATE TABLE IF NOT EXISTS "notifications" ("id" integer primary key autoincrement not null, "user_id" integer not null, "type" varchar not null, "title" varchar not null, "message" text not null, "link" varchar, "campus_id" integer, "is_read" tinyint(1) not null default '0', "read_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("campus_id") references "campuses"("id"));
INSERT INTO notifications VALUES(1,1,'activity_log','Created - Registration','Nouvelle inscription : Alain CHIMI ÔÇö D├®veloppement D''applications (Versement initial : 20 000 FCFA)','/registrations/1',1,0,NULL,'2026-09-06 09:13:29','2026-09-06 09:13:29');
INSERT INTO notifications VALUES(2,2,'activity_log','Created - Registration','Nouvelle inscription : Alain CHIMI ÔÇö D├®veloppement D''applications (Versement initial : 20 000 FCFA)','/registrations/1',1,0,NULL,'2026-09-06 09:13:29','2026-09-06 09:13:29');
INSERT INTO notifications VALUES(3,1,'activity_log','Created - Payment','Nouveau versement de 50 000 FCFA pour Alain CHIMI','/payments/1',1,0,NULL,'2026-09-06 09:16:52','2026-09-06 09:16:52');
CREATE TABLE IF NOT EXISTS "payments" ("id" integer primary key autoincrement not null, "registration_id" integer not null, "campus_id" integer not null, "student_id" integer not null, "amount" numeric not null, "payment_date" date not null default '2026-09-03 15:53:08', "reference" varchar not null, "status" varchar check ("status" in ('pending', 'confirmed', 'cancelled')) not null default 'confirmed', "created_by" integer not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("registration_id") references "registrations"("id") on delete cascade, foreign key("campus_id") references "campuses"("id"), foreign key("student_id") references "students"("id"), foreign key("created_by") references "users"("id"));
INSERT INTO payments VALUES(1,1,1,1,50000,'2026-09-06 00:00:00','PAY-1788686212421','confirmed',3,'2026-09-06 09:16:52','2026-09-06 09:16:52',NULL);
INSERT INTO payments VALUES(2,1,1,1,50000,'2026-09-07 00:00:00','PAY-1788769628349','confirmed',3,'2026-09-07 09:26:31','2026-09-07 09:26:31',NULL);
INSERT INTO payments VALUES(3,2,1,2,150000,'2026-09-08 00:00:00','PAY-1788865277136','confirmed',4,'2026-09-08 11:01:17','2026-09-08 11:01:17',NULL);
CREATE TABLE IF NOT EXISTS "activity_logs" ("id" integer primary key autoincrement not null, "user_id" integer not null, "user_role" varchar not null, "campus_id" integer, "action" varchar not null, "target_type" varchar not null, "target_id" integer not null, "target_name" varchar, "old_data" text, "new_data" text, "changes" text, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id"), foreign key("campus_id") references "campuses"("id"));
INSERT INTO activity_logs VALUES(2,3,'secretary',1,'created','payment',1,'PAY-1788686212421',NULL,'{"registration_id":1,"campus_id":1,"student_id":1,"amount":"50000.00","payment_date":"2026-09-06T00:00:00.000000Z","reference":"PAY-1788686212421","status":"confirmed","created_by":3,"updated_at":"2026-09-06T09:16:52.000000Z","created_at":"2026-09-06T09:16:52.000000Z","id":1}','Nouveau versement de 50 000 FCFA pour Alain CHIMI','2026-09-06 09:16:52','2026-09-06 09:16:52');
INSERT INTO activity_logs VALUES(3,3,'secretary',1,'created','expense',3,'DEP-20260906-3de92b59',NULL,'{"registration_id":null,"campus_id":1,"type":"expense","category":"salary","amount":"20000.00","description":"Honoraire Kollo","reference":"DEP-20260906-3de92b59","created_by":3,"updated_at":"2026-09-06T09:22:04.000000Z","created_at":"2026-09-06T09:22:04.000000Z","id":3}','Nouvelle d├®pense (Salaire) de 20 000 FCFA : Honoraire Kollo','2026-09-06 09:22:04','2026-09-06 09:22:04');
CREATE TABLE IF NOT EXISTS "scolarities" ("id" integer primary key autoincrement not null, "registration_id" integer not null, "student_id" integer not null, "campus_id" integer not null, "tuition_fees" numeric not null default '0', "amount_paid" numeric not null default '0', "balance" numeric not null default '0', "status" varchar check ("status" in ('unpaid', 'partial', 'paid')) not null default 'unpaid', "created_at" datetime, "updated_at" datetime, foreign key("registration_id") references "registrations"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade, foreign key("campus_id") references "campuses"("id") on delete cascade);
INSERT INTO scolarities VALUES(1,1,1,1,320000,120000,200000,'partial','2026-09-06 09:13:28','2026-09-07 09:26:31');
INSERT INTO scolarities VALUES(2,2,2,1,320000,150000,170000,'partial','2026-09-08 11:00:19','2026-09-08 11:01:17');
INSERT INTO scolarities VALUES(3,3,3,5,320000,250000,70000,'partial','2026-09-08 14:04:36','2026-09-08 14:42:04');
CREATE TABLE IF NOT EXISTS "financial_transactions" ("id" integer primary key autoincrement not null, "registration_id" integer, "campus_id" integer not null, "type" varchar not null, "category" varchar not null, "amount" numeric not null, "description" varchar not null, "reference" varchar not null, "created_by" integer not null, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("created_by") references users("id") on delete no action on update no action, foreign key("campus_id") references campuses("id") on delete no action on update no action, foreign key("registration_id") references "registrations"("id") on delete set null);
INSERT INTO financial_transactions VALUES(1,1,1,'income','registration',20000,'Versement initial - Alain CHIMI','INIT-20260906-0001',3,'2026-09-06 09:13:28','2026-09-06 09:13:28',NULL);
INSERT INTO financial_transactions VALUES(2,1,1,'income','tuition',50000,'Versement scolarit├® - Alain CHIMI','PAY-1788686212421',3,'2026-09-06 09:16:52','2026-09-06 09:16:52',NULL);
INSERT INTO financial_transactions VALUES(3,NULL,1,'expense','salary',20000,'Honoraire Kollo','DEP-20260906-3de92b59',3,'2026-09-06 09:22:04','2026-09-06 09:22:04',NULL);
CREATE TABLE IF NOT EXISTS "cash_movements" ("id" integer primary key autoincrement not null, "campus_id" integer not null, "type" varchar check ("type" in ('income', 'expense')) not null, "category" varchar not null, "amount" numeric not null, "title" varchar not null, "description" text, "reference" varchar not null, "attachment_path" varchar, "attachment_name" varchar, "attachment_mime" varchar, "attachment_size" integer, "created_by" integer not null, "deleted_at" datetime, "deleted_by" integer, "created_at" datetime, "updated_at" datetime, foreign key("campus_id") references "campuses"("id") on delete cascade, foreign key("created_by") references "users"("id") on delete restrict, foreign key("deleted_by") references "users"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "attestations" ("id" integer primary key autoincrement not null, "reference" varchar not null, "registration_id" integer not null, "student_id" integer not null, "campus_id" integer not null, "status" varchar check ("status" in ('pending', 'ready')) not null default 'pending', "requested_by" integer not null, "requested_at" datetime not null, "settled_by" integer, "settled_at" datetime, "cancelled_by" integer, "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("registration_id") references "registrations"("id") on delete cascade, foreign key("student_id") references "students"("id") on delete cascade, foreign key("campus_id") references "campuses"("id") on delete cascade, foreign key("requested_by") references "users"("id"), foreign key("settled_by") references "users"("id"), foreign key("cancelled_by") references "users"("id"));
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',22);
INSERT INTO sqlite_sequence VALUES('users',6);
INSERT INTO sqlite_sequence VALUES('financial_transactions',20);
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE INDEX "failed_jobs_connection_queue_failed_at_index" on "failed_jobs" ("connection", "queue", "failed_at");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE INDEX "personal_access_tokens_expires_at_index" on "personal_access_tokens" ("expires_at");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE UNIQUE INDEX "formations_abbreviation_unique" on "formations" ("abbreviation");
CREATE UNIQUE INDEX "students_registration_number_unique" on "students" ("registration_number");
CREATE UNIQUE INDEX "payments_reference_unique" on "payments" ("reference");
CREATE UNIQUE INDEX "financial_transactions_reference_unique" on "financial_transactions" ("reference");
CREATE UNIQUE INDEX "users_username_unique" on "users" ("username");
CREATE INDEX "cash_movements_campus_id_type_created_at_index" on "cash_movements" ("campus_id", "type", "created_at");
CREATE INDEX "cash_movements_created_by_index" on "cash_movements" ("created_by");
CREATE INDEX "cash_movements_type_category_index" on "cash_movements" ("type", "category");
CREATE INDEX "cash_movements_deleted_at_index" on "cash_movements" ("deleted_at");
CREATE UNIQUE INDEX "cash_movements_reference_unique" on "cash_movements" ("reference");
CREATE INDEX "attestations_campus_id_status_created_at_index" on "attestations" ("campus_id", "status", "created_at");
CREATE INDEX "attestations_student_id_index" on "attestations" ("student_id");
CREATE UNIQUE INDEX "attestations_reference_unique" on "attestations" ("reference");
PRAGMA writable_schema=OFF;
COMMIT;
