<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 1. Laisser passer les requêtes API et Sanctum vers Laravel
    RewriteRule ^(sanctum|api) - [L]

    # 2. Rediriger le reste vers le index.html d'Angular s'il ne s'agit pas d'un fichier réel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
